* {
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

header {
	background-color: #FEE101;
	color: #000;
	padding: 20px;
	text-align: center;
}

nav {
	margin-bottom: 20px;
}

nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

nav li {
	display: inline-block;
	margin-right: 20px;
}

nav a {
	color: #000;
	font-size: 18px;
	text-decoration: none;
	padding: 5px;
	border-radius: 5px;
	transition: background-color 0.3s ease;
}

nav a.active, nav a:hover {
	background-color: #000;
	color: #fff;
}

h1 {
	font-size: 36px;
	margin-bottom: 20px;
}

main {
	max-width: 960px;
	margin: 0 auto;
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
}

section {
	flex: 1;
	margin-right: 20px;
	background-color: #fff;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
	padding: 20px;
}

footer {
	background-color: #000;
	color: #fff;
	text-align: center;
	padding: 10px;
	margin-top: 20px;
}

footer p {
	margin: 0;
	padding: 0;
	font-size: 16px;
}

@media (max-width: 768px) {
	main {
		flex-direction: column;
	}
	
	section {
		margin-right: 0;
		margin-bottom: 20px;
	}
}
